
version: "3.4"

x-base-etna-service:
  &base-etna-service # Base configuration used by most etna services.
  image: etna-base-dev
  volumes: &base-etna-service-volumes
    - timur-node-modules:/app/node_modules
    - .:/app:delegated
    - timur-app-gems:/app/vendor/bundle:rw
    - timur-log-dir:/app/log:rw
    - timur-tmp-dir:/app/tmp:rw
    - timur-public-dir:/app/public:rw
    - timur-data-dir:/app/data:rw
    - timur-opt-dir:/usr/opt:rw
    - ../etna:/etna:delegated
  environment: &base-etna-env
    'TIMUR_ENV': 'development'
    APP_NAME: 'timur'
  entrypoint: /entrypoints/development.sh

  networks:
    default:
    edge_net:
  extra_hosts:
    - 'metis.development.local:172.16.238.10'
    - 'magma.development.local:172.16.238.10'
    - 'janus.development.local:172.16.238.10'
    - 'timur.development.local:172.16.238.10'
    - 'rtemis.development.local:172.16.238.10'
    - 'archimedes.development.local:172.16.238.10'
    - 'polyphemus.development.local:172.16.238.10'

x-base-etna-services:
  &base-etna-services # Default list of services an etna app may have.
  'timur_app': &base-etna-app # The ruby webserver
    <<: *base-etna-service
    command: ./bin/puma.sh
    depends_on:
      - 'timur_db'

  'timur_webpack':
    &base-etna-webpack # The ruby webpack server watching for changes
    <<: *base-etna-service
    command: npm run webpack

  'timur_db':
    &base-etna-db # The application specific database.  Overwrite with development-psql-9 to use psql 9 instead.
    image: development-psql
    volumes:
      - timur-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 'timur_development'
      POSTGRES_PASSWORD: password
      POSTGRES_USER: developer
      APP_NAME: 'timur'
    container_name: 'timur_db_1'

  'timur_app_fe':
    &base-etna-fe # The application level apache frontend serving static assets, data, and proxying the main app.
    image: etna-apache
    entrypoint: /entrypoints/development_app_fe.sh
    volumes:
      - timur-public-dir:/app/public:ro
      - ./data:/app/data:delegated
    depends_on:
      - 'timur_app'
    command: ['httpd', '-DFOREGROUND']
    environment:
      APP_NAME: 'timur'

volumes:
  timur-db-data:
    driver: local
    name: "timur-db-data"
  timur-log-dir:
    driver: local
    name: "timur-log-dir"
  timur-tmp-dir:
    driver: local
    name: "timur-tmp-dir"
  timur-public-dir:
    driver: local
    name: "timur-public-dir"
  timur-app-gems:
    driver: local
  timur-data-dir:
    driver: local
    name: "timur-data-dir"
  timur-opt-dir:
    driver: local
  timur-node-modules:
    driver: local
    name: "timur-node-modules"

networks:
  edge_net:
    ipam:
      driver: default
      config:
        - subnet: '172.16.238.0/24'
        - subnet: '2001:3984:3989::/64'

services:
  <<: *base-etna-services

