#search
  %form{ method: :post, action: table_path }
    = hidden_field_tag :authenticity_token, form_authenticity_token
    Export
    %select{ name: :model }
      - Magma.instance.magma_models.each do |m|
        %option{ value: m.name.snake_case } #{m.name.snake_case}

    %input.button{ type: :submit, value: "Download TSV" }
