<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <head>
    <title>
      <%= Timur.instance.environment == :development ? 'Dev Timur' : 'Timur' %>
    </title>
  </head>
  <body>
    <div id='container'>Root Page.</div>
  </body>
</html>
