#container
  #header
    %img#banner{ src: asset_path("banner2.jpg") }
    %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  #main
    %p
      %b Help Us:
    %p If you are a current patient at UCSF, letting your physician know that you are willing to consent to having your extra biopsy material studied for science is a fantastic gift to science.
    %p The work we do, though partially funded by grants from the NCI, is expensive. A few of us have already been able to translate this kind of basic sciences into some of the types of treatments that are already revolutionizing treatments for cancer. We’d like to do more.  If you can support this work, we welcome contributions here or contact us at <a href="mailto:immunoprofiler@ucsf.edu">immunoprofiler@ucsf.edu</a>.
    %p All contributions will go directly to laboratory supplies and basic research.
    %p <strong>Support</strong>

    %p Our initiative has received startup funding from the UCSF Departments of Medicine, Pathology and Dermatology which has helped in establishing fundamental aspects of our collaboration.
  #footer
    %p{ align: :center }
      %a{ href: root_path } Home 
      |
      %a{ href: static_path(:mission) } Mission 
      |
      %a{ href: static_path(:patients) } For Patients 
      |
      %a{ href: static_path(:help_us) } Help Us 
      |
      %a{ href: static_path(:scientific_members) } Scientific Members and Contact 
      |
      %a{ href: static_path(:news) } News

