= content_for :title, "UCSF Immunoprofiler"


#main
  %img#banner{ src: asset_path("banner2.jpg") }

  %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  %img#cells{ src: asset_path("home-img.jpg") }


  #links
    %p Mission
    %p For Patients
    %p Help Us
    %p Scientific Members and Contact
    %a{ href: browse_path} Data Browser
    %p News
