= content_for :title, "UCSF Immunoprofiler"


#main
  %img#banner{ src: asset_path("banner2.jpg") }

  %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  %img#cells{ src: asset_path("home-img.jpg") }


  #links
    %p
      %a{ href: static_path(path: :mission) } Mission
    %p
      %a{ href: static_path(path: :patients) } For Patients
    %p
      %a{ href: static_path(path: :help_us) } Help Us
    %p
      %a{ href: static_path(path: :scientific_members) } Scientific Members and Contact
    %p
      %a{ href: browse_path} Data Browser
    %p
      %a{ href: static_path(path: :news) } News
