#container
  #header
    %img#banner{ src: asset_path("banner2.jpg") }
    %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  #main
    %p
      %b Mission
    %p
      The  Mission of <a href="/">UCSF Immunoprofiler</a> is to coordinate the handling of  valuable human biopsy samples, taken from cancer patients and to coordinately  perform a series of tests of immune composition, immune-cell  gene expression and immune interaction  biology. The underlying theme of this consortium is that cancers are ultimately  discrete forms of <em>immunopathology</em>. We  propose that understanding the nature of the immune response as ascertained via  immunoprofiling in concert with genetic and microscopy/histology analysis will  determine how to treat cancers and will provide new targets for the next round  of immunotherapies. Beyond organizing ourselves into cohesive and interacting  research consortium, our program emphasizes handling biopsy samples in a  non-destructive manner and seeks to be a flexible platform that can include new  assays and researchers. <a href="../index.html">UCSF  Immunoprofiler </a>is emerging as an open-source  pipeline and data repository for analysis of immune subset composition, spatial-organization  and immune gene-expression analysis.
    %p The  goal of our work is multiple.  To assist  in current therapies, our data will correlate immune measures with analysis of  tumor driver and passenger mutations, overall outcomes and responses in clinical  trials. We aim that <a href="../index.html">UCSF Immunoprofiler</a> will permit researchers to make  associations of immunopathologies with other metrics, across projects, across  tumor subtypes and even across tumor types.   A second area of research is to develop novel processing methods to  understand and test immune functions and responses to therapy, using a biopsy  itself. A final major thrust of our work is to define targets for the next  round of therapies. We expect diagnostic, prognostic and novel treatments to  emerge under this initiative.

  #footer
    %p{ align: :center }
      %a{ href: root_path } Home 
      |
      %a{ href: static_path(:mission) } Mission 
      |
      %a{ href: static_path(:patients) } For Patients 
      |
      %a{ href: static_path(:help_us) } Help Us 
      |
      %a{ href: static_path(:scientific_members) } Scientific Members and Contact 
      |
      %a{ href: static_path(:news) } News
