#container
  #header
    %img#banner{ src: asset_path("banner2.jpg") }
    %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  #main
    %p
      %b News
    %p UCSF Immunoprofiler launches in Melanoma.

    %p September 22, 2014: <a href="http://cancer.ucsf.edu/intranet/">UCSF Immunoprofiler Investigators receive support to expand studies to Breast Cancer Samples.</a>

    %p September 22, 2014: <a href="http://cancer.ucsf.edu/intranet/">UCSF Immunoprofiler recent attracted a $100,000 grant from the Helen Diller Cancer Center at UCSF to extend our initiative.</a>

    %p Rare Immune populations Identified that predict overall survival across human cancers.

  #footer
    %p{ align: :center }
      %a{ href: root_path } Home 
      |
      %a{ href: static_path(:mission) } Mission 
      |
      %a{ href: static_path(:patients) } For Patients 
      |
      %a{ href: static_path(:help_us) } Help Us 
      |
      %a{ href: static_path(:scientific_members) } Scientific Members and Contact 
      |
      %a{ href: static_path(:news) } News
