#container
  #header
    %img#banner{ src: asset_path("banner2.jpg") }
    %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  #main
    %p
      %b For Patients:
    %p Thank you for considering to contribute to our cutting-edge and coordinated analysis of cancer. We are a dedicated team  of immunologists, clinicians, cancer specialists and statisticians who have banded together as a team to uncover the diverse strategies by which tumors manage to evade immune responses. We think that subjecting biopsies, such as the ones you could contribute, to coordinated scrutiny will truly accelerate our discovery of treatments and co-treatments.
    %p Biopsies brought into this pipeline via your clinician are going to be quickly and efficiently streamlined into a variety of tests. These all focus on the inter-relationship of the tumor and the immune system that has developed around it. Excess tumor material is invaluable to our effort to figure out how to treat all forms of this disease: by figuring out the different ways in which the immune system is failing to eradicate the disease. 
    %p The foundations of our studies are our early successes in harnessing the immune response to treat cancer. These include success of harnessing the immune system to treat many cases of melanoma, considered previously ‘incurable’. However, the first round of these therapies—anti-CTLA4 (ipilimumab/Yervoy)  and anti-PD-1 (various names) amongst them—are showing that only some tumors immune responses are treatable by these drugs.  For these drugs, between 25 and 40% of patients are showing objective responses including stabilization and complete remission. Those who respond are living much longer than with any other potential treatment, which is every scientist/clinicians dream.  But only a portion of patients immune systems respond. Why not the others?
    %p We hypothesize that there are additional immune barriers to overcome; barriers whose presence can be detected within a tumor biopsy. Based on our successful studies, we will be able to identify people who will respond to anti-CTLA-4 or anti-PD1 (or other therapies) prior to treatment and then precisely chose how to treat a cancer, based on those tests. Similarly, we believe that getting tumors into ‘classes’ will assist us in preventing recurrence. In sum, getting more tumor biopsies like yours into this exploratory pipeline will help us accelerate cures across all cancers. We recognize that sometimes having a biopsy takes a conscious decision on your part and Thank You for joining us in this effort to use your unwanted material in an effort to eradicate cancer.
    %p 
      %b Immunoprofiler Sample Handling Details
    %p The Mission of UCSF <a href="../index.html">Immunoprofiler</a> is to coordinate the handling of valuable human biopsy samples, taken from cancer patients and to coordinately perform a series of tests of immune composition, immune-cell gene expression and immune interaction biology. All of our efforts and pipeline from clinic to laboratory are compliant with federal HIPA privacy policies.
    %p The members of this team will be using biopsy material taken from patients to intensively analyze their composition to start to break the immune response into subclasses that match or ‘define’ the disease. As shown below, we aim to make maximal use of small donated amounts to tissue (i.e tumor). When a tumor is removed (left), we immediately take this tissue into the lab. By taking it ‘live’ and intact, we have the opportunity to study it much more intensely. Tumor cells and immune cells continue to interact in these sections for many hours and we use technology developed at UCSF to study this in multiple kinds of tests. For example, some of the scientists receiving biopsies assess segments of the tumor to either quantify where immune cells sit in relation to the edge of the tumor OR to subject them to live-imaging to watch how the cell behave. We consider these parameters to be strong clues as to the tumor’s strengths and weaknesses.
    %p
      %img{ src: asset_path("sample-processing.jpg") }
    %p Segments of the tumor biopsies are also carefully dissociated the tissue into individual immune populations and subject these to a technology which quantify them. These approaches, taken together, are analogous to figuring out how many soldiers are present on the battlefield, where they are positioned and how they are acting. Then, as a final step the proposal will determine which molecules are being expressed in the key subsets of cells. The molecular contents of a cell tells you what that cell can and cannot do to assist in clearing a tumor—in the army analogy, a bit like determining what functions each cell can perform. Since in many cases we need to activate some cells while inhibiting others, this latter point is quite important.
    %p Your clinical data (for example: what kind of cancer you have, prognosis and result of treatment(s)) will be also included in the analysis we undertake.  However, as before, your privacy is ultimately important and we strictly follow all federal HIPA privacy rules.
    %p At the end of this collaborative project, we will have accrued the data that defines Cancer as a collection of Immunopathologies—that is, by its immune infiltrate. From this we will understand new ways to diagnose AND best treat individual people.
  #footer
    %p{ align: :center }
      %a{ href: root_path } Home 
      |
      %a{ href: static_path(:mission) } Mission 
      |
      %a{ href: static_path(:patients) } For Patients 
      |
      %a{ href: static_path(:help_us) } Help Us 
      |
      %a{ href: static_path(:scientific_members) } Scientific Members and Contact 
      |
      %a{ href: static_path(:news) } News
