#container
  #header
    %img#banner{ src: asset_path("banner2.jpg") }
    %h2 A translational platform to enhance treatment efficacy, develop precision medicines and understand the immunological basis for cancer.

  #main
    %p
      %b Scientific Members:
    %p Founded  by Drs. Daud, Fong, Krummel and Rosenblum, the Immunoprofiler Initiative now  includes the following researchers, covering a diverse multidisciplinary area  of cancer biology and cancer immunology.
    .person
      .picture
        %img{ src:asset_path("matthew-krummel.jpg") }
      .text
        %b Dr. Matthew &quot;Max&quot; Krummel, PI.
        Max is a PhD immunologist whose lab uses live-imaging to find key pathways in biology . He has a rich history at the <u>immune-cancer</u> interface including as the developer of anti-CTLA-4 (ipilimumab/Yevoy) therapeutics. He maintains an active lab that studies the fundamentals of how the immune system functions dynamically in space and time and how cell yptes integrate to generate fundamental immune ‘states’. His current work in mouse has identified subsets of immune cells in tumors and provides an initial ‘signature’ which provides one of the hypothesis this team intends to develop.
    .person
      .picture
        %img{ src:asset_path("larry-fong.jpg") }
      .text
        %b Dr. Larry Fong, co-PI.
        Larry is a lead of the UCSF Immune Oncology program and a co-PI on this project. He oversees Kidney, Bladder, Lung and Prostate samples and participates in overall project direction is an MD in the SOM/Heme Onc with both a <u>clinical and a basic science laboratory investigating prostate cancer</u>.  He develops and runs clinical trials in prostate, particularly in prostate cancer and has a lab with interest in some of the same cell types as identified by Krummel, above. His interest in prostate represents the smaller of the aims in this particular RAP award but represents the need for our team and SOP to rapidly adapt to and include additional cancer subtypes to leverage the value of rare samples.</span>
    .person
      .picture
        %img{ src:asset_path("chloe-atreya.jpg") }
      .text
        %b Dr. Chloe Atreya, co-PI.
        Chloe is an MD/PhD and is a member of the UCSF colorectal cancer  group. She is overseeing the clinical sample procurement pipeline for IPI and  participates in overall project directionclinician and is the Director of Melanoma Clinical Research at UCSF Mt. Zion.
    .person
      .picture
        %img{ src:asset_path("adil-daud.jpg") }
      .text
        %b Dr. Adil Daud
        is an MD clinician and the Director of Melanoma Clinical Research at UCSF Mt. Zion.  He <u>develops and runs clinical trials </u>in melanoma and is a primary point of patient contact for melanoma patients. His team at MZ is critical to obtaining samples and hustling them into the basic research space and he develops fundamental programs in Melanoma treatment.</span>
    .person
      .picture
        %img{ src:asset_path("michael-rosenblum.jpg") }
      .text
        %b Dr. Michael Rosenblum,
        MD PhD is an MD Dermatologist and is both a clinician and an basic researcher with <u>interests and expertise in regulatory T cells</u>.  He would be expected to develop hypotheses based on the ‘analytical’ flow-cytometry analysis, would be in a position to capitalize on the RNA-later samples, and would be expected to develop a project for an ensuing PPG.</span>
    .person
      .picture
        %img{ src:asset_path("saurabh-asthana.jpg") }
      .text
        %b Dr. Saurabh Asthana, 
        PhD has experience with computational approaches to understanding complex cancer data sets. His role in the project is storing, cataloguing and analyzing the datasets generated throughout the study. His interests include evolutionary biology and computational modeling of transcriptomes.
    %p
      %b Lab Personnel
    .person
      .picture
        %img{ src:asset_path("amanda-nelson.jpg") }
      .text
        %b Amanda Nelson
    .person
      .picture
        %img{ src:asset_path("raj-kumar.jpg") }
      .text
        %b Raj Kumar
        received his Bachelors of Science in Exercise Biology with an emphasis in Biomechanics from UC Davis. His past research involved triple negative breast cancer and developing a model for oncogenic overexpression in mammary glands. Currently Raj's role in the wet lab includes processing and analysis of sample streams for flow cytometry and IF immunohistochemistry.

    %p
      %b Associates
    .person
      .picture
        %img{ src:asset_path("martin-mcmahon.jpg") }
      .text
        %b Dr. Martin McMahon
        , PhD  is a cancer biologist in the SOM and the Helen Diller Family Comprehensive Cancer Center with an expertise in oncogenes and oncogenesis. His lab studies the effects of the RAS, BRAF or PI3'-kinase oncoproteins using both genetically engineered mouse models and clinical isolates.</span>
    .person
      .picture
        %img{ src:asset_path("denise-wolf.jpg") }
      .text
        %b Dr. Denise Wolf
        , PhD is a computational biologist dedicated to making the dream of personalized oncology a reality for future breast cancer patients. She was initially trained as a mathematical systems theorist and worked for many years as a systems microbiologist until 2008, when her own experience with cancer lead to a change of professional course.</span>
    .person
      .picture
        %img{ src:asset_path("michael-campbell.jpg") }
      .text
        %b Dr. Michael Campbell
        , PhD has been active in studying T cell dysfunction and the role of macrophages in breast cancer, studying both tumor associated macrophages as well as circulating monocytes/macrophages. His current focus includes studying how various agents modulate immune networks, both peripherally and in the tumor immune microenvironment.</span>

    %p
      %b Contact:
    %p Please contact <a href="../index.html">UCSF Immunoprofiler</a> by email: <a href="mailto:immunoprofiler@ucsf.edu">immunoprofiler@ucsf.edu</a>.

  #footer
    %p{ align: :center }
      %a{ href: root_path } Home 
      |
      %a{ href: static_path(:mission) } Mission 
      |
      %a{ href: static_path(:patients) } For Patients 
      |
      %a{ href: static_path(:help_us) } Help Us 
      |
      %a{ href: static_path(:scientific_members) } Scientific Members and Contact 
      |
      %a{ href: static_path(:news) } News

