= content_for :title, "Timur - UCSF Immunoprofiler"
#browse
  %h1 UCSF Immunoprofiler

  %p= @record.description

  %h2 Experiments

  - @record.experiment.each do |exp|
    %p
      %a{ href: browse_model_path( model: :experiment, name: exp.identifier ) } #{ exp.identifier }
