= content_for :title, "Timur - Browse - #{@record_name}"

#root
%script{ type: "text/javascript" }
  ! $(function() { React.render( React.createElement(ModelBrowser, { source: '#{ browse_json_path(@model_name, @record_name) }' }), $('#root')[0]); })
