= content_for :title, "Timur - Browse - #{@name}"

%script{ type: "text/javascript" }
  ! var model = #{@model.json_template};
  ! var record = #{@record.to_json};

#root
%script{ type: "text/javascript" }
  $(function() { React.render( React.createElement(ModelBrowser, null), $('#root')[0]); })

