/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

.logo {
	background-image: image-url('Timur.png');
	width: 70px;
	height: 70px;
	border: 2px solid #066306;
	background-size: cover;
	background-position: 0px -6px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #FFF, 0 0 0 3px #066306;
	display: inline-block;
	vertical-align:top
}

.heading {
	font-family: 'Cinzel', serif;
	font-size: 40px;
	display: inline-block;
	color: green;
	padding-left: 10px;
	height: 70px;
	vertical-align: top;
	line-height: 70px;
}

.header {
	border-bottom: 1px solid green;
	height: 80px;
}

.main {
	padding: 40px;
	font-family: 'EB Garamond', serif;
	font-size: 30px;
}

.main a {
	text-decoration: none;
	color: olive;
}
