/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

.logo {
	background-image: image-url('Timur.png');
	width: 70px;
	height: 70px;
	border: 2px solid #066306;
	background-size: cover;
	background-position: 0px -6px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #FFF, 0 0 0 3px #066306;
	display: inline-block;
	vertical-align:top
}

.heading {
	font-family: 'Cinzel', serif;
	font-size: 40px;
	display: inline-block;
	color: forestgreen;
	padding-left: 10px;
	height: 70px;
	vertical-align: top;
	line-height: 70px;
}

.header {
	position: relative;
	border-bottom: 1px solid forestgreen;
	height: 80px;
}

.main {
	padding: 40px;
	font-size: 30px;
}

body {
	font-family: 'EB Garamond', serif;
}
a {
	text-decoration: none;
	color: olive;
}

.login {
	position: absolute;
	right: 10px;
	bottom: 0px;
	color: brown;
}

.nav {
	position: absolute;
	width: calc(100% - 90px);
	left: 90px;
	bottom: 0px;
	border-top: 1px solid forestgreen;
}

.nav_tab {
	display: inline-block;
	font-size: 16px;
	padding: 0px 25px;
	border-right: 1px solid forestgreen;
}

.nav_tab a {
	color: limegreen;
}

.names {
	width: 25%;
	display: inline-block;
	border-right: 1px solid forestgreen;
	padding-right: 8px;
}

.attribute {
	text-align: right;
	color: darkgoldenrod;
}

.values {
	color: mediumorchid;
	width: 70%;
	display: inline-block;
}

.browse {
	padding-left: 150px;
}
