/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 */

@import "globals";
@import "attributes";
@import "datepicker";
@import "project";
@import "plots";

@import url(https://fonts.googleapis.com/css?family=Cinzel|Cousine|Oxygen);

#logo {
	background-image: image-url('Timur.png');
	width: 70px;
	height: 70px;
	border: 2px solid #066306;
	background-size: cover;
	background-position: 0px -6px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #FFF, 0 0 0 3px #066306;
	display: inline-block;
	vertical-align:top
}

#heading {
	font-family: 'Cinzel', serif;
	font-size: 40px;
	display: inline-block;
	color: forestgreen;
	padding-left: 10px;
	height: 70px;
	vertical-align: top;
	line-height: 70px;
}

#header {
	position: relative;
	border-bottom: 1px solid forestgreen;
	height: 80px;
}

#main {
	padding-left: 40px;
	padding-right: 40px;
}

a {
	text-decoration: none;
	color: olive;
}

#login {
	position: absolute;
	right: 10px;
	bottom: 0px;
	color: brown;
}

#nav {
	font-family: $body_font;
	position: absolute;
	width: calc(100% - 90px);
	left: 90px;
	bottom: 0px;
	border-top: 1px solid forestgreen;
}

.nav_tab {
	display: inline-block;
	font-size: 16px;
	padding: 0px 25px;
	border-right: 1px solid forestgreen;
}

.nav_tab a {
	color: limegreen;
}


#browse {
	padding-left: 150px;
}

#model {
	position: relative;
	padding-top: 30px;
}

#model_header {
	font-family: $body_font;
	position: relative;
	margin-left: 10%;
	padding-left: 10%;
	margin-right: 20%;
	//border-bottom: 1px solid forestgreen;
}

#edit {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	color: forestgreen;
}

#approve {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	color: forestgreen;
}

#cancel {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	color: forestgreen;
}

.inline {
	display: inline-block;
}



#search {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 50px;
}

.searchlabel {
	text-align: right;
	width: 150px;
	display: inline-block;
}

#searchbox {
	border: 1px solid forestgreen;
	width: 70%;
	background: lightgrey;
}
.searchbutton {
	border: 1px solid forestgreen;
}

#filter {
	padding-left: 153px;
}
