@import "globals";

#error_box {
	padding-right: 10px;

	.error {
		font-family: $value_font;
		color: red;
	}
}

#attributes {
	.attribute {
		display: flex;
		.name {
			border-bottom: 1px solid rgba(forestgreen,0.1);
			display: inline-block;
			width: 25%;
			padding-right: 8px;
			text-align: right;
			border-right: 1px solid forestgreen;
			font-family: $body_font;
			color: midnightblue;
		}
		> .value {
			border-bottom: 1px solid rgba(forestgreen,0.1);
			color: mediumorchid;
			width: 70%;
			display: inline-block;
			border-left: 1px solid forestgreen;
			padding-left: 9px;
			margin-left: 2px;
			font-family: $value_font;
			padding-top: 3px;

			.delete_link {
				&:hover {
					text-decoration: line-through;
					color: gray;
					cursor: pointer;
				}
			}

			.collection_item {
				border-bottom: 1px solid rgba(forestgreen,0.1);
				padding-top: 3px;
			}

			.button {
				@include green_button;
			}
			
			.selection {
				border: 1px solid forestgreen;
				color: mediumorchid;
				font-family: $value_font;
				font-size: 16px;
				background: transparent;
			}

			.at_spacer {
				padding-left: 5px;
				padding-right: 5px;
				color: forestgreen;
			}
			input[type="text"].date_text {
				@include text_defaults;
				width: 100px;
			}
			input[type="text"].time_text {
				@include text_defaults;
				width: 50px;
			}
			input[type="text"].full_text {
				@include text_defaults;
				width: 70%;
			}
			input[type="text"].link_text {
				@include text_defaults;
				border-left: 1px solid rgba(forestgreen,0.2);
			}
			textarea.text_box {
				font-family: $value_font;
				font-size: 14px;
				border: 0px none black;
				border-top: 1px solid forestgreen;
				border-left: 1px solid forestgreen;
				box-shadow: 2px 2px 3px 1px #ddd inset;
				height: 70px;
				width: 70%;
			}
		}
		&:first-of-type {
			.name, > .value {
				border-top: 2px solid forestgreen;
				background-color: rgba(forestgreen,0.1);
			}
		}
	}
}
