@import "globals";
@import "attribute";

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

%clinical-shared{
  font-family: $body_font;
  border: 1px solid transparent;
  outline: 0;
  color: black;
  padding: 0.55em 0.5em 0.55em 0.75em;
  background: #fff;
  margin: 5px;
  height: 14px;
  width: 210px;
}

.clinical-select{
  @extend %clinical-shared;
  height: auto;
  width: 225px;
  border-radius: 0;
  white-space:pre-wrap;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
}

.clinical-input{
  @extend %clinical-shared;
  vertical-align: top;
  caret-color: #22a778;
}

.clinical-select.empty,
.clinical-input.empty{
  border: 1px solid #dddddd;
}

.clinical-button{
  padding: 6px;
  border: 1px solid silver;
  background-color: white;
  color: gray;
  outline: none;
  font-size: 0.7em;
  margin: 8px 5px;
  cursor: pointer;
  border-radius: 3px;
}

.clinical-button:hover{
  color: #22a778;
  border: 1px solid #22a778;
}

.clinical-group .remove{
  border: none;
  background: none;
  color: gray;
  padding: 4px 9px 4px 9px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  top: 5px;
  margin: 0 5px;
  -webkit-text-stroke: 1px white;
}

.clinical-group .remove:hover{
  color:#22a778;
  border: 1px solid #22a778;
  border-radius: 3px;
}

.clinical-group > .remove {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.clinical-group:hover > .remove{
  visibility: visible;
  opacity: 1;
}

.search-bar-group {
  /*the container must be positioned relative:*/
  // position: relative;
  display: inline-block;
  vertical-align: top;
}

.search-bar-group input{
  @extend %clinical-shared;
  caret-color: #22a778;
}

.search-bar-diabled{
  @extend %clinical-shared;
  font-size: 11px;
}

.clinical-group{
  border-bottom: 1px solid #ddd;
  width: fit-content;
  min-height: 38px;
}

.clinical-group input:hover,
.clinical-group select:hover{
  border: 1px solid #22a778;

}

.clinical-group input:disabled:hover,
.clinical-group select:disabled:hover{
  border: 1px solid transparent;
}

.option-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 10;
  margin-left: 5px;
  max-height: 400px;
  overflow-y: scroll;
  direction: rtl;
  font-size: .7em;
}

.option-items .item-container {
  font-family: $body_font;
  background-color: #fff;
  padding: 0.5em;
  direction:  ltr;
  min-width: 210px;
  cursor: pointer;
}

.option-items .item-container:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.item-container i{
  position: relative;
  display: block;
  visibility: hidden;
  float: right;
  color:	#909090;
  margin-left: 10px;
 }

.item-container:hover i{
 visibility: visible;
}

.item-container i:hover{
  color: #4CAF50;
 }

.info-tip {
  max-width: 160px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
  font-size: .7em;
  overflow: auto;
  font-family: $body_font;
  z-index: 99;
  position: absolute;
}

.render-inputs {
  display: inline-block;
}