@import "globals";
@import "attribute";

.loader{
  font-family: $body_font;
  margin-left: 15px;
}

.browser {
  position: relative;
  padding-top: 10px;
  .header {
    font-family: $body_font;
    position: relative;
    padding-left: 5%;
    @keyframes fade {
      0% { color: forestgreen; }
      50% { color: midnightblue; }
      100% { color: forestgreen; }
    }
    .edit, .approve, .cancel, .submit {
      @include header_button;
      display: inline-block;
      font-size: 25px;
      padding-left: 5px;
    }
    .submit {
      animation-name: fade;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    .inline {
      display: inline-block;
    }
    .model-name {
      display: inline-block;
      padding: 0px 5px;
      color: deeppink;
    }
    .record-name {
      display: inline-block;
      font-size: 25px;
    }
  }
}

/* NEW ************************************************************************/
#browse{
  padding-left: 150px;
}

.browser .header{
  padding: 0;
  margin-left: 15px;
}

.browser-tab-bar{
  font-family: $body_font;
  display: flex;
}

.browser-tab-bar .spacer1{
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid $dark-color;
}

.browser-tab-bar .spacer2{
  flex-grow: 1;
  border-bottom: 1px solid $dark-color;
}

.browser-tab-bar .tab{
  color: $dark-grey;
  border: 1px solid $dark-color;
  display: inline-block;
  margin-right: -1px;
  padding: 5px 20px;
  cursor: pointer;
}

.browser-tab-bar .revised{
  background-color: rgba(pink, 0.3);
}

.browser-tab-bar .selected{
  color: $white;
  background-color: $med-color;
  cursor: default;
  border-bottom: none;
}

#browser-tab{
  margin-top: 15px;
}

#browser-tab .pane{
  margin-bottom: 1px;
}

#browser-tab .pane .title{
  font-family: $body_font;
  border-bottom: 1px $dark-color solid;
  color: $dark-grey;
  margin-top: 15px;
  margin-bottom: 10px;
}

#browser-tab .pane .title-group{
  width: 170px;
  text-align: right;
  background: $dark-color;
  color: $white;
  padding: 3px;
  padding-right: 10px;
}

#browser-tab .pane .attributes .attribute{
  display: flex;
  @include default_attribute;
}

#browser-tab .pane .attributes .attribute .name{
  display: inline-block;
  min-width: 170px;
  max-width: 170px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: right;
  font-family: $body_font;
  color: $dark-grey;
}

#browser-tab .pane .attributes .attribute .value{
  flex-grow: 1;
  display: inline-block;
  font-family: $body_font;
  border-left: 1px solid $med-color;
  padding-left: 10px;
  padding-bottom: 5px;
  color: $dark-grey;
}
