@import "globals";

.browser {
	position: relative;
	padding-top: 30px;
	.header {
		font-family: $body_font;
		position: relative;
		padding-left: 5%;
		@keyframes fade {
			0% { color: forestgreen; }
			50% { color: midnightblue; }
			100% { color: forestgreen; }
		}
		.edit, .approve, .cancel, .submit {
			@include header_button;
			display: inline-block;
			font-size: 25px;
			padding-left: 5px;
		}
		.submit {
			animation-name: fade;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}
		.inline {
			display: inline-block;
		}
		.template_name {
			display: inline-block;
			padding: 0px 5px;
			color: deeppink;
		}
		.document_name {
			display: inline-block;
			font-size: 25px;
		}
	}
	.tabbar {
		font-family: $body_font;
		display: inline;
		.tab {
			color: mediumvioletred;
			background-color: rgba(skyblue,0.2);
			border: 1px solid forestgreen;
			border-bottom: none;
			display: inline-block;
			margin-right: -1px;
			padding: 5px 20px;
			cursor: pointer;
		}
		.revised {
			background-color: rgba(pink,0.3);
		}
		.selected {
			color: sienna;
			background-color: rgba(wheat,0.3);
			cursor: default;
		}
	}
	#tab {
		.pane {
			margin-bottom: 1px;
			.title {
				font-family: $body_font;
				background-color: rgba(tan,0.3);
				border: 1px solid tan;
				border-bottom: none;
				color: indianred;
				width: 15%;
				padding-right: 7px;
				text-align: right;
			}
			.attribute {
				display: flex;
				.name {
					border-bottom: 1px solid rgba(forestgreen,0.1);
					display: inline-block;
					width: 15%;
					padding-right: 8px;
					text-align: right;
					border-right: 1px solid forestgreen;
					font-family: $body_font;
					color: midnightblue;
				}
				.revised {
					background-color: pink;
				}
				> .value {
					border-bottom: 1px solid rgba(forestgreen,0.1);
					color: mediumorchid;
					width: 70%;
					display: inline-block;
					border-left: 1px solid forestgreen;
					padding-left: 9px;
					margin-left: 2px;
					font-family: $value_font;
					padding-top: 3px;

					.delete_link {
						&:hover {
							text-decoration: line-through;
							color: gray;
							cursor: pointer;
						}
					}

					.collection_item {
						border-bottom: 1px solid rgba(forestgreen,0.1);
						padding-top: 3px;
						.add_item {
							cursor: pointer;
							color: green;
							font-weight: bold;
						}
					}

					.button {
						@include green_button;
						margin-left: 0px;
					}
					
					.selection {
						border: 1px solid forestgreen;
						color: mediumorchid;
						font-family: $value_font;
						font-size: 16px;
						background: transparent;
					}

					.at_spacer {
						padding-left: 5px;
						padding-right: 5px;
						color: forestgreen;
					}
					input[type="text"].date_text {
						@include text_defaults;
						width: 100px;
					}
					input[type="text"].time_text {
						@include text_defaults;
						width: 50px;
					}
					input[type="text"].full_text {
						@include text_defaults;
						width: 70%;
					}
					input[type="text"].link_text {
						@include text_defaults;
						border-left: 1px solid rgba(forestgreen,0.2);
					}
					textarea.text_box {
						font-family: $value_font;
						font-size: 14px;
						border: 0px none black;
						border-top: 1px solid forestgreen;
						border-left: 1px solid forestgreen;
						box-shadow: 2px 2px 3px 1px #ddd inset;
						height: 70px;
						width: 70%;
					}
				}
				&:first-of-type {
					.name, > .value {
						border-top: 2px solid forestgreen;
					}
				}
			}
		}
	}
}
