@import "globals";

.ui-datepicker {
	font-family: $value_font;
	font-size: 16px;
	border: 1px solid forestgreen;
	border-radius: 0;

	.ui-datepicker-header {
		border: 1px solid forestgreen;
		background: rgba(forestgreen,0.2);
		border-radius: 0;
	}

	select {
		color: #33333c;
		font-family: $value_font;
		font-size: 16px;
	}
	button {
		font-family: $value_font;
		font-size: 16px;
		border-radius: 0;
	}
	.ui-datepicker-calendar {
		td a {
			background: rgba(forestgreen,0.2);
		}
		td.ui-datepicker-current-day a {
			background: rgba(forestgreen,0.4);
		}
		td.ui-datepicker-today a {
			background: rgba(forestgreen,0.1);
		}
	}
}
