@import "globals";

.manifests-container {
  color: #333;
  font-family: sans-serif;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  a {
    color: black;
  }

  .new {
    color: forestgreen;
    font-weight: bold;

    &:hover {
      text-decoration: underline
    }

    span {
      margin-left: 5px;
    }
  }

  .filter {
    font-size: .9em;

    .checkbox {
      margin-left: 7px;
      font-size: .8em;
    }
  }

  ol {
    margin: 0px;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
  }

  text {
    width: 70%;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.manifest-preview {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: .8em;
  font-weight: lighter;

  .name {
    color: teal;
    font-size: 1.4em;
    font-weight: bold;

    &:hover {
      text-decoration: underline
    }
  }

  .project {
    color: teal;
    font-size: 1em;
    font-weight: bold;
  }
}

.hideable-text {
  margin-top: 3px;

  .label {
    text-decoration: underline;
  }
}