@import "globals";

$secondary-color: teal;

.manifests-container {
  color: #333;
  font-family: sans-serif;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  a {
    color: black;
  }

  .new {
    color: forestgreen;
    font-weight: bold;

    &:hover {
      text-decoration: underline
    }

    span {
      margin-left: 5px;
    }
  }

  .filter {
    font-size: .9em;

    .checkbox {
      margin-left: 7px;
      font-size: .8em;
    }
  }

  ol {
    margin: 0px;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
  }

  text {
    width: 70%;
    white-space: pre-wrap;
    word-break: break-all;
    height: 50px;
  }

  .label {
    font-weight: lighter;
  }
}

.manifest-preview {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: .8em;
  font-weight: lighter;

  .name {
    color: $secondary-color;
    font-size: 1.4em;
    font-weight: bold;

    &:hover {
      text-decoration: underline
    }
  }

  .project {
    color: $secondary-color;
    font-size: 1em;
    font-weight: bold;
  }
}

.hideable-text {
  margin-top: 3px;

  .label {
    text-decoration: underline;
  }

  .text {
    margin-left: 7px;
  }
}

.element {
  .name {
    color: $secondary-color;
    font-weight: bolder;
    text-decoration: underline;
  }
  .label {
    font-size: .9em;
    font-weight: lighter;
    text-decoration: none;
  }
}

.actions {
  margin-top: 15px;
  margin-left: 20%;

  button {
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .fa {
    margin-right: 3px;
  }
}

@mixin border {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
}

.form-container {
  @include border;

  .new {
    margin-left: 8px;
    margin-top: 15px;
    font-size: 1.1em;
  }
}

.input-container {
  margin-top: 7px;
  label {
    font-weight: bold;
    color: $secondary-color;
  }

  input[type="text"] {
    width: 40%;
    font-size: 1em;
  }

  textarea {
    width: 70%;
    resize: vertical;
    font-size: 1em;
  }
}

.element-form-container {
  margin-top: 15px;

  .title {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 10px;
  }
}

.element-form {
  @include border;
  background-color: #f4f5f7;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;

  .remove {
    font-size: 1em;
    color: red;
    margin-right: 10px;

    &:hover {
    cursor: pointer;
    }
  }
}

.manifest-elements {
  @include border;

  .element {
    margin-top: 10px;
  }
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.blue-on-hover:hover {
  color: blue;
}

.list {
  .toggle {
    font-weight: lighter;
    color: blue;
  }

  .fa {
    margin-left: 5px;
    margin-right: 3px;
  }
}