@import "globals";

$logo_size: 70px;

#header {
  position: relative;
  height: 80px;
  @mixin basic_logo($color,$image) {
    @keyframes spin {
      0% {
        transform-origin: 35px 35px;
        transform: rotate(0deg);
      }
      50% {
        transform-origin: 35px 35px;
        transform: rotate(180deg);
      }
      100% {
        transform-origin: 35px 35px;
        transform: rotate(360deg);
      }
    }
    @keyframes flicker {
      0% {
        filter: hue-rotate(0deg);
      }
      50% {
        filter: hue-rotate(180deg);
      }
      100% {
        filter: hue-rotate(360deg);
      }
    }
    &.throb {
      .halo {
        animation: flicker 3s infinite alternate, spin 5s linear infinite;
        opacity: 1;
        transition: opacity 1s, animation 1s;
      }
    }
    width: $logo_size;
    height: $logo_size;
    border: 3px solid $color;
    border-radius: 50%;
    display: inline-block;
    vertical-align:top;
    position: relative;
    .image {
      background-image: url($image);
      width: $logo_size;
      height: $logo_size;
      background-size: cover;
      background-position: 0px -6px;
      border-radius: 50%;
      position: absolute;
    }
    .halo {
      position: absolute;
      opacity: 0;
      transition: opacity 1s;
      z-index: -1;
      svg {
        overflow: visible;
        circle {
          stroke-width: 1px;
          stroke: goldenrod;
          fill: none;
        }
        path {
          stroke-width: 1px;
          &.long {
            stroke: goldenrod;
          }
          &.short {
            stroke: indianred;
          }
        }
      }
    }
  }
  #logo {
    #normal {
      @include basic_logo(#066306,'/images/Timur.png');
    }
    #dev {
      @include basic_logo(#630606,'/images/Timur-dev.png');
    }
    display: inline-block;
    width: 90px;
    height: 78px;
  }
  #help_float {
    position: absolute;
    top: 6px;
    left: 25px;
  }
  #heading {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    display: inline-block;
    color: forestgreen;
    height: 70px;
    vertical-align: top;
  }
  #nav {
    .nav_tab {
      a {
        color: teal;
        cursor: pointer;
      }
    }
    .selected {
      border-bottom: 0px;
      background-color: white;
      &:first-child {
        border-left: 1px solid rgba(forestgreen,0.1);
      }
      a {
        color: goldenrod;
        cursor: pointer;
      }
    }
    #identifier_search {
      
      .search {
        display: flex;
        background-color: rgba(teal, 0.1);
        border: 1px solid forestgreen;
        border-radius: 12px;
        margin-right: 5px;
        padding-right: 5px;
        align-items: center;
        span {
          margin-left: 3px;
          font-size: 12px;
          color: darkgreen;
          margin-right: 2px;
        }
        input[type="text"] {
          border: none;
          background-color: transparent;
          color: purple;
          font-size: 14px;
          width: 200px;
          font-family: $value_font;
        }
      }
      .drop_down {
        display: block;
        border-top: none;
        border-bottom: 2px solid forestgreen;
        background-color: mix(forestgreen,white,20%);
        display: inline;
        position: absolute;
        right: 15px;
        text-align: left;
        top: 22px;
        width: 205px;
        z-index: 1000;
        .title {
          font-family: $body_font;
          font-weight: bold;
          background-color: rgba(forestgreen,0.4);
          font-size: 14px;
        }
        .list {
          font-family: $value_font;
          font-size: 12px;
          max-height: 80px;
          overflow: auto;
          .identifier {
            padding: 1px;
          }
        }
      }
    }
    #login {
      color: brown;
      text-align: right;
    }
  }
}

/* NEW CSS ********************************************************************/

#header{
  position: relative;
  height: 80px;
  border-bottom: 2px solid forestgreen;
}

#nav {
  font-family: $body_font;
  position: relative;
  width: calc(100% - 90px);
  height: 25px;
  margin-top: -25px;
  margin-left: 90px;
  border-top: 1px solid forestgreen;
}

.nav_tab{
  height: 100%;
  display: inline-block;
  font-size: 16px;
  padding: 0px 25px;
  border-right: 1px solid forestgreen;
  text-transform: capitalize;
  background-color: rgba(skyblue,0.1);
}

#logo{
  border-bottom: none;
}

#identifier_search{
  display: inline-block;
  width: 235px;
  border-bottom: none;
  float: right;
  padding: 2px;
  position: relative;
}

#login{
  display: inline-block;
  border-bottom: none;
  float: right;
}
