@import "globals";

#header {
	position: relative;
	border-bottom: 1px solid forestgreen;
	height: 80px;
	@mixin basic_logo($color) {
		width: 70px;
		height: 70px;
		border: 2px solid $color;
		background-size: cover;
		background-position: 0px -6px;
		border-radius: 50%;
		box-shadow: 0 0 0 2px #FFF, 0 0 0 3px $color;
		display: inline-block;
		vertical-align:top
	}
	#logo {
		background-image: image-url('Timur.png');
		@include basic_logo(#066306);
	}
	#devlogo {
		background-image: image-url('Timur-dev.png');
		@include basic_logo(#630606);
	}
	#heading {
		font-family: 'Cinzel', serif;
		font-size: 40px;
		display: inline-block;
		color: forestgreen;
		padding-left: 10px;
		height: 70px;
		vertical-align: top;
		line-height: 70px;
	}
	#nav {
		font-family: $body_font;
		position: absolute;
		width: calc(100% - 90px);
		left: 90px;
		bottom: 0px;
		border-top: 1px solid forestgreen;
		#login {
			position: absolute;
			right: 10px;
			bottom: 0px;
			color: brown;
		}

		.nav_tab {
			display: inline-block;
			font-size: 16px;
			padding: 0px 25px;
			border-right: 1px solid forestgreen;
			a {
				color: limegreen;
			}
		}
	}
}
