@import "globals";

$logo_size: 70px;

#header {
  position: relative;
  height: 80px;
  @mixin basic_logo($color,$image) {
    @keyframes spin {
      0% {
        transform-origin: 35px 35px;
        transform: rotate(0deg);
      }
      50% {
        transform-origin: 35px 35px;
        transform: rotate(180deg);
      }
      100% {
        transform-origin: 35px 35px;
        transform: rotate(360deg);
      }
    }
    @keyframes flicker {
      0% {
        filter: hue-rotate(0deg);
      }
      50% {
        filter: hue-rotate(180deg);
      }
      100% {
        filter: hue-rotate(360deg);
      }
    }
    &.throb {
      .halo {
        animation: flicker 3s infinite alternate, spin 5s linear infinite;
        opacity: 1;
        transition: opacity 1s, animation 1s;
      }
    }
    width: $logo_size;
    height: $logo_size;
    border: 3px solid $color;
    border-radius: 50%;
    display: inline-block;
    vertical-align:top;
    position: relative;
    .image {
      background-image: url($image);
      width: $logo_size;
      height: $logo_size;
      background-size: cover;
      background-position: 0px -6px;
      border-radius: 50%;
      position: absolute;
    }
    .halo {
      position: absolute;
      opacity: 0;
      transition: opacity 1s;
      z-index: -1;
      svg {
        overflow: visible;
        circle {
          stroke-width: 1px;
          stroke: goldenrod;
          fill: none;
        }
        path {
          stroke-width: 1px;
          &.long {
            stroke: goldenrod;
          }
          &.short {
            stroke: indianred;
          }
        }
      }
    }
  }
  #logo {
    #normal {
      @include basic_logo(#066306,'/images/Timur.png');
    }
    #dev {
      @include basic_logo(#630606,'/images/Timur-dev.png');
    }
    border-bottom: 2px solid forestgreen;
    display: inline-block;
    width: 90px;
    height: 78px;
  }
  #help_float {
    position: absolute;
    top: 6px;
    left: 25px;
  }
  #heading {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    display: inline-block;
    color: forestgreen;
    height: 70px;
    vertical-align: top;
  }
  #nav {
    font-family: $body_font;
    position: absolute;
    width: calc(100% - 90px);
    left: 90px;
    bottom: 0px;
    border-top: 1px solid forestgreen;
    display: flex;
    .nav_tab {
      display: inline-block;
      font-size: 16px;
      padding: 0px 25px;
      border-right: 1px solid forestgreen;
      border-bottom: 2px solid forestgreen;
      text-transform: capitalize;
      background-color: rgba(skyblue,0.1);
      a {
        color: teal;
        cursor: pointer;
      }
    }
    .selected {
      border-bottom: 0px;
      background-color: white;
      &:first-child {
        border-left: 1px solid rgba(forestgreen,0.1);
      }
      a {
        color: goldenrod;
        cursor: pointer;
      }
    }
    #identifier_search {
      border-bottom: 2px solid #22a778;
      flex-grow: 1;
      text-align: right;
      display: flex;
      padding: 2px;
      justify-content: flex-end;
      position: relative;
      .search {
        display: flex;
        border: 1px solid #22a778;
        margin-right: 5px;
        padding-right: 5px;
        align-items: center;
        span {
          margin-left: 3px;
          font-size: 12px;
          color: #22a778;
          margin-right: 2px;
        }
        input[type="text"] {
          border: none;
          font-family: "Oxygen", sans-serif;
          font-size: 14px;
          width: 200px;
        }
      }
      .drop_down {
        border: 1px solid #22a778;
        position: absolute;
        right: 7px;
        text-align: left;
        top: 22px;
        background-color: white;
        z-index: 1000;
        width: 223px;
        a {
          color: black;
        }
        .title {
          font-family: "Oxygen", sans-serif;
          font-weight: bold;
          background-color: #22a778;
          font-size: 12px;
          color: white;
          padding: 3px;
        }
        .list {
          font-family: "Oxygen", sans-serif;
          font-size: 12px;
          overflow: hidden;
          .identifier {
            padding: 2px 5px;
            white-space: nowrap;
          }
          .identifier:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
    #login {
      color: brown;
      text-align: right;
      border-bottom: 2px solid #22a778;
    }
  }
}
