#header-container{
  position: relative;
  width: 100%;
  height: 90px;
  z-index: 10000;
}

.logo-container{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
}

.logo-container img{
  width: 80px;
  height: 80px;
}

#title-menu{
  position: absolute;
  height: 30px;
  right: 0px;
  left: 0px;
  top: 10px;
  padding-left: 90px;
}

.title-menu-btn{
  margin-top: 0px;
  margin-left: 0px;
  font-family: 'gotham_boldregular';
  font-size: 1.8em;
  line-height: 12px;
  text-align: left;
  color: #000;
  background: none;
  border: 0px;
  line-height: 17px;
}

.title-menu-btn-sub{
  font-size: 0.5em;
  letter-spacing: 5px;
  font-family: 'gotham_bookregular';
}

#ucsf-logo{
  float:right;
  width: 50px;
  height: 22px;
  margin-top: 5px;
  margin-right: 12px;
}

#nav-menu{
  position: absolute;
  left: 40px;
  right: 0px;
  bottom: 5px;
  height: 30px;
  background: #535353;
}

#nav-menu {
  
  /* fallback DIY*/
  background: #22a778;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#a9d58e), color-stop(0.25, #24a684), color-stop(0.5, #24a684), color-stop(0.75, #24a684), to(#24a684));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #a9d58e, #24a684, #24a684, #24a684, #24a684);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #a9d58e, #24a684, #24a684, #24a684, #24a684);

  /* IE 10 */
  background: -ms-linear-gradient(left, #a9d58e, #24a684, #24a684, #24a684, #24a684);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #a9d58e, #24a684, #24a684, #24a684, #24a684);
}

.nav-menu-btn{
  display: block;
  position: relative;
  float: right;
  margin-right: 15px;
  padding-top: 10px;
  height: 20px;
  border: none;
  background: none;
  outline: none;
  font-family: 'gotham_bookregular';
  color: #fff;
  font-size: 0.7em;
}

/* USER DROP DOWN MENU ********************************************************/
.user-menu-dropdown-group{
  overflow: hidden;
  font-family: 'gotham_bookregular';
  height: 100%;
  min-width: 125px;
  float: right;
}

.user-menu-dropdown-btn{
  border: 0px;
  outline: 0px;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;
  background: #a9d58e;
  border-left: 1px solid #666;
  color: #000;
  font-size: 0.8em;
}

.user-menu-arrow-group{
  width: 20px;
  display: inline-block;
  vertical-align: text-top;
}

.user-dropdown-menu{
  width: 100%;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
}

.user-dropdown-menu-item{
  display: block;
  background: #fff;
  height: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 0.7em;
}

.user-dropdown-menu-item:hover {
  background: #a9d58e;
  text-decoration: none;
  color: #eee;
}
