@import "globals";

svg {
	&.box_plot {
		font-family: $value_font;
		font-size: 10px;

		.box line,
		.box rect,
		.box circle {
			fill: #fff;
			stroke: #000;
			stroke-width: 1.5px;
		}

		.box .center {
			stroke-dasharray: 3,3;
		}

		.box .outlier {
			fill: #ccc;
			stroke: #ccc;
		}
	}
	&.line_plot {
		font-family: $value_font;
		font-size: 12px;
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
	}
	&.bar_plot {
		font-family: $value_font;
		font-size: 12px;
		.plot_canvas {
			rect {
				fill: white;
			}
		}
		.axis {
			path, line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
		}
		.y {
			cursor: pointer;
		}
		.bar { 
			rect {
				fill: none;
				stroke: #000;
				stroke-width: 1.5px;
			}
			text {
				font-size: 10px;
			}
			circle.dot {
				cursor: pointer;
				stroke-width: 1px;
				&:hover {
					stroke-width: 5px;
					stroke: gold;
				}
			}
			circle.tumor {
				fill: #888;
			}
			circle.normal {
				fill: #ccc;
			}
			circle.highlighted_tumor {
				stroke-width: 2px;
				stroke: red;
				fill: #fcc;
			}
			circle.highlighted_normal {
				stroke-width: 2px;
				stroke: #00f;
				fill: #ccf;
			}
		}
	}
	&.scatter_plot {
		font-family: $value_font;
		font-size: 12px;
		.plot_canvas {
			rect {
				fill: white;
				stroke: gray;
				stroke-width: 0.2px;
			}
		}
		.axis {
			path, line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
		}
		circle.dot {
			cursor: pointer;
			stroke-width: 1px;
			&:hover {
				stroke-width: 4px;
				stroke: gold;
			}
		}
	}
	&.heatmap_plot {
		font-family: $value_font;
		font-size: 12px;
		.plot_canvas {
			rect {
				fill: white;
				stroke: gray;
				stroke-width: 0.2px;
			}
		}
		.axis {
			path, line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
		}
	}
	&.density_plot {
		font-family: $value_font;
		font-size: 12px;
		.plot_canvas {
			rect {
				fill: white;
				stroke: gray;
				stroke-width: 1px;
			}
		}
		.axis {
			path, line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
		}
		.density_line {
                	stroke: purple;
                	stroke-width: 2;
                	fill: none;
		}
		.density_shape {
			stroke: none;
			fill: rgba(purple,0.2);
		}
	}
}
