@import "globals";

svg {
	&.box_plot {
		font-family: $value_font;
		font-size: 10px;

		.box line,
		.box rect,
		.box circle {
			fill: #fff;
			stroke: #000;
			stroke-width: 1.5px;
		}

		.box .center {
			stroke-dasharray: 3,3;
		}

		.box .outlier {
			fill: none;
			stroke: #ccc;
		}
	}
	&.line_plot {
		font-family: $value_font;
		font-size: 12px;
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
	}
	&.bar_plot {
		font-family: $value_font;
		font-size: 12px;
		.axis {
			path, line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
		}
		.y {
			cursor: pointer;
		}
		.bar { 
			rect {
				fill: #fff;
				stroke: #000;
				stroke-width: 1.5px;
			}
			text {
				font-size: 10px;
			}
			circle.dot {
				fill: #ccc;
				stroke-width: 0px;
			}
		}
	}
}
