@import "globals";

.plotter {
	position: relative;
	padding-top: 30px;
	color: midnightblue;
	font-family: $body_font;
	select {
		border: 1px solid forestgreen;
		color: mediumorchid;
		font-family: $value_font;
		font-size: 16px;
		background: transparent;
	}
	.var_select {
		select {
			width: 200px;
		}
	}
	input[type=button] {
		cursor: pointer;
		font-family: $body_font;
		color: forestgreen;
		margin-left: 4px;
		padding: 2px;
		font-size: 14px;
		border: 1px solid forestgreen(0.5);
		background-color: forestgreen(0.2);
		&:hover {
			background-color: forestgreen(0.3);
		}
	}
}
