@import "globals";

#query { 
  margin-top: 10px;
  .predicate {
    display: inline;
    border-radius: 5px;
    padding: 4px;
    margin-right: 4px;
    background: rgba(red,0.2);
    &.completed {
      background: rgba(green,0.2);
    }
    .verbs {
      display: inline;
    }
    select {
      display: inline;
      font-family: $value_font;
      border: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: none;
      color: forestgreen;
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
    .filter {
      display: inline;
    }
    .arguments {
      display: inline;
    }
  }
}
