.root-nav{
  display: block !important;
}
.project-selector-header{
  color:black;
  font-size: 25px;
  font-family: "Oxygen", sans-serif;
  margin-top: 30px;
  margin-left: 50px;
}

.project-link{
  padding-top: 6px;
  display: block;
  font-size: 16px;
}

.project-role{
  font-size: 12px;
  opacity: .5;
}
