@import "globals";
@import "attribute";

$query_color: rgba(gold,0.4);

#search {
	font-family: $body_font;
	.button {
		@include green_button;
		background-color: #A6C9A6;
	}
	.filter {
		@include text_defaults;
		margin: 0 9px;
	}
	.control {
		padding-top: 10px;
		padding-bottom: 4px;
		background-color: $query_color;
		border-bottom: 1px solid goldenrod;
		color: midnightblue;

	}
	.query {
	}
	.pages {
		.page_size {
			display: block;
			padding: 2px 4px;
			select {
				margin-left: 4px;
				vertical-align: middle;
			}
		}
		.results {
			display: block;
			padding: 2px 4px;
			.model_name {
				display: inline;
				color: mediumorchid;
			}
		}
		.pager {
			padding: 2px 4px;
			display: block;
			.turner {
				display: inline-block;
				width: 15px;
				padding: 4px;
				text-align: center;
				&.inactive {
					color: gray;
				}
				&.active {
					color: forestgreen;
					cursor: pointer;
					&:hover {
						background-color: rgba(forestgreen,0.2)
					}
				}
			}
			.report {
				display: inline-block;
				width: 120px;
				text-align: center;
			}
		}
	}
	select {
		border: 1px solid forestgreen;
		color: mediumorchid;
		font-family: $value_font;
		font-size: 16px;
		background: white;
	}
	.label {
		padding: 4px;
	}
	.header {
		font-family: $body_font;
		position: relative;
		background-color: rgba(forestgreen,0.2);
		@keyframes fade {
			0% { color: forestgreen; }
			50% { color: midnightblue; }
			100% { color: forestgreen; }
		}
		.edit, .approve, .cancel, .submit {
			@include header_button;
			display: inline-block;
			font-size: 25px;
			padding-left: 5px;
		}
		.submit {
			animation-name: fade;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}
		.inline {
			display: inline-block;
		}
	}
	.table {
		color: darkorchid;
		font-family: "Cousine",monospace;
		.table_header {
			color: teal;
			cursor: ew-resize;
			text-align: center;
		}
		.item_value {
			@include default_attribute;
			vertical-align: middle;
			text-align: center;
			white-space: nowrap;
			.value {
				img {
					max-width: 100%;
					max-height: 17px;
				}
				textarea.text_box {
					max-height: 17px;
				}
			}
			&.revised {
				background-color: rgba(pink,0.3);
			}
		}
		.focused_row {
			height: 150px;
			background-color: rgba(midnightblue,0.1);
			white-space: normal;
			.value {
				img {
					max-height: 140px;
				}
				textarea.text_box {
					max-height: 140px;
				}
			}
		}
		.focused_col {
			width: 250px;
			background-color: rgba(forestgreen,0.1);
			white-space: normal;
		}
	}
}
