@import "globals";

.table {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	position: relative;
	.pager {
		padding: 2px 4px;
		background-color: rgba(forestgreen,0.1);
		color: midnightblue;
		display: table-caption;
		border-right: 1px solid rgba(forestgreen,0.5);
		.turner {
			color: forestgreen;
			display: inline;
			cursor: pointer;
		}
		.search {
			cursor: pointer;
			display: inline-block;
			font-size: 20px;
			padding-left: 5px;
			padding-right: 5px;
		}
		.filter {
			border: 0px none black;
			border-top: 1px solid forestgreen;
			border-left: 1px solid forestgreen;
			box-shadow: 2px 2px 3px 1px #ddd inset;
			width: 300px;
		}
	}
	.export {
		@include green_button;
	}
	.table_item { 
		display: table-row;
		&:not(:first-child) {
			border-bottom: 1px solid rgba(midnightblue,0.1);
		}
		.table_cell {
			display: table-cell;
			padding: 2px;
			border-right: 1px solid rgba(forestgreen,0.5);
		}
		.table_header {
			@extend .table_cell;
			background-color: rgba(forestgreen,0.1);
			overflow: hidden;
		}
		.item_value {
			@extend .table_cell;
			max-width: 150px;
			.value {
				border-left: none;
				padding: 0px;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}
